/* CSS Reset */
* {
    margin: 0;
    padding: 0;
}

/* Input area Style */
.input {
    width: 75% !important;
    display: inline !important;
}

.title {
    background-color: transparent;
}

/* Button Style */
.btn {
    background-color: transparent;
}

/* Display area Style */
.display {
    background-color: transparent;
}

p {
    background-color: #fff;
    cursor: pointer;
    font-weight: bolder;
    height: auto;
}